/*General Styling*/
body {
  background-color: 063C52;
  color: EEEEEE
}

{
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column1 {
    float: left;
    word-wrap: break-word;
    background-color: 063C52;
    padding: 30px;
    border-radius: 30px;
    }

    .column2 {
      float: left;
      padding: 30px;
      background-color: F2D2A2;
      color: black;
      border-radius: 30px 50px;
    }
    .damage {
      padding-left: 15px;
      float: right;
    }

    .damagex {
      padding-left: 155px;
      padding-right: 27px;
      top: 5px;
      float: right;
    }

    .addDice  {
      float: right;
    }

    .addMember {
      position: relative;
      bottom: 35px;
      left: 45px;
    }

    .partyinput {
      padding-bottom: 20px;
    }

    .row:after {
    content: "";
    display: table;
    clear: both;
    }

/*Styling for top bar*/
.topbar {
  font-size: 29px !important;
/*  background-color: 5B95AA; */
  color: 5B95AA;
  text-align: left;
  position: relative;
  top: 30px;
}

.conditionsOutput {
  float: left;
  padding-right: 50px;
  /*background-color: 5B95AA;*/
  border-radius: 50px 50px 50px 50px;
}

.resistancesOutput {
  float: left;
/*  background-color: 5B95AA;*/
  border-radius: 10px;
  border-radius: 50px 50px 50px 50px;
}

/*Styling for Party Input area*/
input {
  width: 40px;
  position: relative;
  z-index: 999;
  background-color: B9D6BC;
  border-radius: 1px 3px;
}

button {
  background-color: 5B95AA;
  border-radius: 5px;
}

select {
  position: relative;
  background-color: B9D6BC;
}

.statblock {
  position: relative;
  font-style: italic;
  word-wrap: break-word;
  font-size: 20px;
}

.stats p {
  display: inline;
}

.statsOutput p {
  display: inline;
}

.strOutput {
  padding-left: 15px;
}

.dexOutput {
  padding-left: 70px;
}

.conOutput {
  padding-left: 70px;
}

.intOutput {
  padding-left: 70px;
}

.wisOutput {
  padding-left: 70px;
}

.chaOutput {
  padding-left: 70px;
}
