/*General Styling*/
body {
  background-color: 063C52;
  color: EEEEEE
}

{
        box-sizing: border-box;
    }
    /* Set additional styling options for the columns*/
    .column1 {
    float: left;
    word-wrap: break-word;
    background-color: 063C52;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 10px 5px 5px black;
    }

    .column2 {
      float: left;
      padding: 30px;
      background-color: F2D2A2;
      color: black;
      border-radius: 30px 50px;
      box-shadow: 10px 5px 5px black;
    }
    .damage {
      padding-left: 15px;
      float: right;
    }

    .damagex {
      padding-left: 155px;
      padding-right: 27px;
      top: 5px;
      float: right;
    }

    .addDice  {
      float: right;
    }

    .buttons {
      position: relative;
      bottom: 35px;
      left: 45px;
    }

    .slidecontainer {
    width: 50%; /* Width of the outside container */
    }

    /* The slider itself */
    .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    position: relative; bottom: 21px;
    width: 310px; /* Full-width */
    height: 25px; /* Specified height */
    background: #5B95AA; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    z-index: 50;
    border-radius: 25px 25px;
    }

    /* Mouse-over effects */
    .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
    }

    .slides {
      display: flex;
      overflow-x: scroll;
      position: relative;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;
    }

    /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
    .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */

    height: 25px; /* Slider handle height */
    border-radius: 25%;
    background: #B9D6BC; /* Green background */
    cursor: pointer; /* Cursor on hover */
    }

    .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
    }

.slider::-webkit-slider-runnable-track:after {
  content: "";
  position: relative;
  height: 10px;
  width: 270px;
  background: rgb(247, 247, 247);
  top: 0;
  right: 26px;
  transform: skew(62deg);
}

.ticks {
  display: inline-block;
  border: none;
  position: relative;
  color: B9D6BC;
  z-index: 100;
  opacity: .7;
  pointer-events: none;
  transform: scale(1, 2);
}

.tick1 {
  text-align: right;
  width: 87px;
  height: 5px;
  opacity: .7;
  display: inline-block;
}

.tick2 {
  text-align: right;
  border: none;
  width: 68px;
  height: 5px;
  opacity: .7;
  display: inline-block;
}

.tick3 {
  text-align: right;
  border: none;
  width: 67px;
  height: 5px;
  opacity: .7;
  display: inline-block;
}

.monsterHP p {
  display: inline;
}

.partyinput {
  padding-bottom: 20px;
}

.row:after {
content: "";
display: table;
clear: both;
}

/*Styling for top bar*/
.topbar {
  font-size: 29px !important;
/*  background-color: 5B95AA; */
  color: 5B95AA;
  text-align: left;
  position: relative;
  top: 30px;
}

.navigation a {
  box-shadow: 10px 5px 5px black;
}

.conditionsOutput {
  float: left;
  padding-right: 50px;
  /*background-color: 5B95AA;*/
  border-radius: 50px 50px 50px 50px;
}

.resistancesOutput {
  float: left;
/*  background-color: 5B95AA;*/
  border-radius: 10px;
  border-radius: 50px 50px 50px 50px;
}

/*Styling for Party Input area*/
input {
  width: 40px;
  position: relative;
  z-index: 999;
  background-color: B9D6BC;
  border-radius: 1px 3px;
}

button {
  background-color: 5B95AA;
  border-radius: 5px;
}

select {
  position: relative;
  background-color: B9D6BC;
}

.statblock {
  position: relative;
  font-style: italic;
  word-wrap: break-word;
  font-size: 20px;
}

.stats p {
  display: inline;
}

.statsOutput p {
  display: inline;
}

.statsOutput {
  position: relative; bottom: 15px;
}

.creaturemisc p {
  display: inline;
}

.monstercr * {
  display: inline;
}

.strOutput {
  text-align: left;
  position: absolute; left: 10px;
}

.dexOutput {
  text-align: left;
  position: absolute; left: 97px;
}

.conOutput {
  text-align: left;
  position: absolute; left: 185px;
}

.intOutput {
  text-align: left;
  position: absolute; left: 270px;
}

.wisOutput {
  text-align: left;
  position: absolute; left: 355px;
}

.chaOutput {
  text-align: left;
  position: absolute; left: 440px;
}

.navigation a {
  font-size: 22px !important;
  padding: 5px;
  width: 100%;
  text-decoration: none;
  background-color: B9D6BC;
  color: 063C52;
  border-radius: 25px;
}

.saveType p {
  width: 25%;
  display: inline;
  position: relative;
}

.saves {
  text-align: left;
}
